[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zhangyong893
[access "refs/for/refs/*"]
	read = group user/zhangyong893
	push = group user/zhangyong893
	label-Code-Review = -2..+2 group user/zhangyong893
	label-Verified = -1..+1 group user/zhangyong893
	rebase = group user/zhangyong893
	removeReviewer = group user/zhangyong893
	submit = group user/zhangyong893
[access "refs/heads/*"]
	read = group user/zhangyong893
	create = group user/zhangyong893
	push = +force group user/zhangyong893
	pushMerge = group user/zhangyong893
[access "refs/tags/*"]
	push = +force group user/zhangyong893
	pushTag = group user/zhangyong893
	pushSignedTag = group user/zhangyong893
